<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".msg" mimeType="application/vnd.ms-outlook" />
        </staticContent>
    </system.webServer>
</configuration>
